<% include partials/header %>
<!-- <% include partials/navbar %> -->
    <center><h4 class="display-4">User</h4></center>

    <% if(errors)
    {
         errors.forEach(function(error)
        { %>
            <div class="alert alert-danger" role="alert"><%= error.msg %> </div>
        <% })
    } %>

    <center>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" alt="Card image cap" src=<%= user.photos[0].value %>>
            <div class="card-body">
              <h2 class="card-title"><%= user.displayName %></h2>
              <p class="card-text"><%= user.username %></p>
              <p class="card-text">⭐ <%= starCount %> starred repositories ⭐</p>
              <form method="POST" action="/fetch">
                <input type="submit" value="Click to Fetch" class="btn btn-primary">
              </form>
            </div>
          </div>
</center>

<center><h4 class="display-4">STARRED REPOSITORIES</h4></center>
<center><div class="card" style="width: 50rem;">
    <table class="table table-striped table-dark" id="table" >
        <thead>
            <tr>
                <th scope="col">⭐              </th>
                <th scope="col">ID              </th>
                <th scope="col">Name            </th>
                <th scope="col">Owner           </th>
                <th scope="col">Link            </th>
                <th scope="col">Stars           </th>

            </tr>
        </thead>
         <tbody>
         <% repos.forEach(function (repo) { %>
            <tr>
                <td>⭐                               </td>
                <td><%= repo.id                     %></td>
                <td><%= repo.name                   %></td>
                <td><%= repo.owner                  %></td>
                <td><a href=<%= repo.link %>>Click</a></td>
                <td><%= repo.stars                  %></td>
            </tr>
         <% }) %>
         </tbody>
    </table>
</div></center>
<% include partials/footer %>
